.chatcontainer{
padding: 30px;
width: 100%;
height: auto;
display: flex;
flex-direction: column;
padding-bottom: 70px;
background-color: ghostwhite;
}
.card-body{
height: 60vh;
overflow-y: auto;
}
.card{
    margin-top: 20px;
}

.container{
    background-color: black;
    width: 100%;
    max-width: 500px;
}

.local{
padding: 10px;
border-radius: 10px;
background-color: darkcyan;
max-width: 80%;
color: white;
font-size: 12px;
align-self: flex-end;

}

.spanl{
font-size: 4;
color: gray;
align-self: flex-end;

list-style: none;
}
.spanr{
   text-align: center;
    font-size: 4;
    color: gray;
    align-self: flex-start;
    list-style: none;
    }

.remote{

    padding: 10px;
    border-radius: 10px;
    background-color: darkorchid;
    max-width: 80%;
    color: white;
    font-size: 12px;
    align-self: flex-start;
   
}