.chatcontainer{
padding: 10px;
width: 100%;
height: auto;
display: flex;
flex-direction: column;
border-radius: 10px;
background-color: rgba(248,248,255,0.7);
box-shadow: 2px 2px 2px rgb(182, 182, 182);
}
.card-body{
height: 60vh;
overflow-y: auto;
background-image: url("http://54.174.81.71/Chat/assets/img/chat.jpg");
background-size: cover;
background-position:center;

}
.card{
    margin: 20px;
    box-shadow: 2px 2px 2px #ccc;
}

.container{
   
    width: 100%;
    max-width: 500px;
}

.local{
padding: 10px;
border-radius: 10px;
background-color: darkcyan;
max-width: 80%;
color: white;
font-size: 12px;
align-self: flex-end;

}

.spanl{
font-size: 4;
color: gray;
align-self: flex-end;

list-style: none;
}
.spanr{
   text-align: center;
    font-size: 4;
    color: gray;
    align-self: flex-start;
    list-style: none;
    }

.remote{

    padding: 10px;
    border-radius: 10px;
    background-color: darkorchid;
    max-width: 80%;
    color: white;
    font-size: 12px;
    align-self: flex-start;
   
}